.hotel {
    width: 100%;
    height: 350px;
    margin-top: 20px;
    background-color: whitesmoke;
    position: relative;
}
.hotel-header {
    flex-direction: row;
}
.hotel-header, .hotel-bottom-accordion {
    /* height: 50px; */
    background-color: red
}
.accordion {
    position: absolute;
    right:    0;
    bottom:   0;
    width: 100%;
    height: 50px;
    color: #00B0DF;
}
.accordion-item {
    visibility: hidden;
    position: absolute;
    right:    0;
    bottom:   0;
    width: 100%;
    height: 200px;
    color: red;
}
.hotel-name {
    width: 80%;
    background-color: blue;
    color: #CADBE9;
}
.hotel-price {
    width: 20%;
    background-color: orange;
    text-align: center;
}
.hotel-price-tag {
    font-size: 16px;
    /* margin-top: 2px; */
    word-wrap: none;
}
.price {
    margin-top: -10px;
    font-size: 26px;
    text-decoration-style: solid;
    color: blue;
}
.hotel-image {
    width:100%;
    height:250px;
}
.hotel-image img {
    width:100%;
    height:250px;
}

.hotel-click-info {
    position: absolute;
    top: -2px;
    vertical-align: text-top;
    color: white;
}
.headingMain {
    display:inline-block;
    margin: 0px auto 10px auto;
    text-align: left;
    width: 80%;
    flex-direction: row;
}
.headingMin {
    width: 20%;
    background-color: red;
}
.hotel-name {
    margin: 0px;
}
.hotel-city {
    margin: 0px;
}
#first {
    width: 80%;
    /* float: left; */
    /* height: 50px; */
    background-color: #97acc5;
    display: inline-block;
}
#second {
    width: 20%;
    /* float: left; */
    /* height: 50px; */
    background-color: green;
    display: inline-block;
}
h2, h3 {
    margin: 0;
}
.button-text-wrapper {
    width: 100%;
    height: 50px;
    background-color: #67cfec;
    margin:0;
}
